<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Join</h2>	
	<form action="#" th:action="@{/member/join}" method="post">
		<div>
			<label for="loginId">ID</label>
			<input type="text" name="loginId"/>
		</div>
		<div>
			<label for="loginId">Password</label>
			<input type="password" name="password"/>
		</div>
		<div>
			<input type="submit" value="Submit" /> 
			<input type="reset"value="Reset" />
		</div>
	</form>
</body>
</html>